<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">
  <title>Boolzap</title>
</head>

<body class="debug">

  <main id="app">

    <!-- SIDEBAR -->
    <div class="sidebar">

      <!-- Sidebar header section -->
      <section class="sidebar__header">
        <!-- Sidebar toolbar -->
        <div class="sidebar__toolbar toolbar">
          <figure class="avatar avatar-sm">
            <img src="https://picsum.photos/50/50" alt="">
          </figure>
          <div class="controls-wrapper">
            <div class="icon-wrapper">
              <i class="fa-solid fa-circle-notch"></i>
            </div>
            <div class="icon-wrapper">
              <i class="fa-solid fa-plus"></i>
            </div>
            <div class="icon-wrapper">
              <i class="fa-solid fa-ellipsis"></i>
            </div>
          </div>
        </div>
        <!-- Sidebar search-bar -->
        <div class="sidebar__search-bar">
          <div class="search-bar">
            <div class="search-btn">
              <i class="fa-solid fa-magnifying-glass" v-if="searchInputValue === ''"></i>
              <i class="fa-solid fa-arrow-left" v-if="searchInputValue !== ''"></i>
            </div>
            <input type="text" v-model="searchInputValue" @keyup="filterContacts"
              placeholder="Cerca o inizia una nuova chat">
          </div>
        </div>
      </section>

      <!-- Contacts section -->
      <section class="contacts">
        <!-- Contact -->
        <div class="contact" v-for="(el, i) in contacts" @click="selectChat(el)" :class="{'active' : activeChat === el}"
          v-if="el.visible">
          <!-- Contact avatar -->
          <div class="contact__avatar-wrapper">
            <figure class="avatar">
              <img :src="el.avatar" alt="">
            </figure>
          </div>
          <!-- Contact info -->
          <div class="contact__info">
            <div class="contact__title-wrapper">
              <h4 class="contact__name">{{ el.name }}</h4>
              <p class="contact__date">{{ el.messages[el.messages.length - 1].date }}</p>
            </div>
            <div class="contact__text">{{ el.messages[el.messages.length - 1].text }}</div>
          </div>
        </div>
      </section>
    </div>

    <!-- MAIN CONTENT -->
    <div class="chat">
      <!-- Chat header -->
      <div class="chat__header toolbar">
        <div class="contact contact-active">
          <figure class="avatar avatar-sm">
            <img :src="activeChat.avatar" alt="">
          </figure>
          <div class="contact__info">
            <h4 class="contact__name">{{ activeChat.name }}</h4>
            <div class="contact__state">Online</div>
          </div>
        </div>
        <div class="controls-wrapper">
          <div class="icon-wrapper">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="icon-wrapper">
            <i class="fa-solid fa-ellipsis"></i>
          </div>
        </div>
      </div>

      <!-- Chat messages -->
      <div class="chat__messages">
        <div v-for="message in activeChat.messages"
          :class="{'message' : true, 'sent' : message.status === 'sent', 'received' : message.status === 'received'}">
          <div class="message-text">{{ message.text }}</div>
          <!-- <div class="message-date">{{ message.date }}</div> -->
        </div>
      </div>

      <!-- Chat footer -->
      <div class="chat__footer">
        <div class="icon-wrapper">
          <i class="fa-regular fa-face-smile"></i>
        </div>
        <div class="icon-wrapper">
          <i class="fa-solid fa-paperclip"></i>
        </div>
        <input type="text" placeholder="Scrivi un messaggio" v-model="writeInputValue"
          @keyup.enter="addMessage(activeChat, writeInputValue, true); generateAnswer(activeChat);">
        <div class="icon-wrapper">
          <i class="fa-solid fa-microphone"></i>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>
