@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --dark-navy: #111b21;
  --navy: #202c33;
  --light-navy: #2a3942;
  --light-grey: #8696a0;
  --white: #ddd;
  --grey: #444d51;
  --green: #005c4b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* UTILITIES */

.avatar {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.avatar.avatar-sm {
  width: 40px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
}

input {
  border: none;
  padding: 10px 15px;
  color: var(--white);
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  color: var(--light-grey);
}

.icon-wrapper {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-grey);
}

.controls-wrapper {
  display: flex;
  gap: 25px;
}

.controls-wrapper .icon-wrapper {
  width: 25px;
  font-size: 18px;
}

/* MAIN */

main {
  display: flex;
  height: 100vh;
}

main > div {
  flex-grow: 1;
}

/* SIDEBAR */

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--light-navy);
}

/* Profile section */

.sidebar__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--navy);
}

/* Search section */

.sidebar__search-bar {
  display: flex;
  padding: 10px 15px;
  background-color: var(--dark-navy);
}

.search-bar {
  flex-grow: 1;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--navy);
  position: relative;
}

.search-btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  padding: 10px 15px;
  color: var(--light-grey);
}

.search-bar input {
  width: 100%;
  font-size: 14px;
  background-color: inherit;
  padding-left: 46px;
}

/* Chat wrapper */

.contacts {
  flex-grow: 1;
  background-color: var(--dark-navy);
  overflow-y: auto;
}

.contacts .contact {
  display: flex;
  padding: 10px 15px;
  gap: 10px;
  color: var(--light-grey);
  position: relative;
  margin-bottom: 1px;
}

.contacts .contact::after {
  /* border-bottom */
  content: '';
  display: block;
  height: 1px;
  background-color: var(--light-navy);
  position: absolute;
  top: 100%;
  left: 65px;
  right: 0;
  z-index: 1;
}

.contacts .contact.active {
  background-color: var(--light-navy);
}

.contacts .avatar {
  width: 50px;
}

.contacts .contact__info {
  flex-grow: 1;
  width: calc(100% - 15px - 50px - 10px - 15px);
}

.contacts .contact__title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.contact__title-wrapper {
  color: var(--white);
  font-size: 17px;
}

.contacts .contact__date {
  font-size: 12px;
}

.contacts .contact__text {
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* MAIN CONTENT */

.chat {
  width: 70%;
  background-image: url(img/whatsapp-bg.png);
  background-size: cover;
  background-repeat: no-repeat;  
  display: flex;
  flex-direction: column;
}

.chat__header {
  background-color: var(--navy);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 0px 5px var(--dark-navy);
}

.chat__header .contact {
  display: flex;
  gap: 15px;
}

.chat__header .contact__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat__header .contact__info .contact__name {
  font-weight: 800px;
  color: var(--white);
}

.chat__header .contact__info .contact__state {
  font-size: 13px;
  color: var(--light-grey);
}

.chat__header .controls-wrapper {
  gap: 15px;
}

/* Selected chat content */

.chat__messages {
  flex-grow: 1;
  padding: 30px 90px;
  display: flex;
  flex-direction: column;
}

.message.received {
  align-self: flex-start;
}

.message.sent {
  align-self: flex-end;
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  position: relative;
  margin-bottom: 5px;
}

.message.received {
  background-color: var(--navy);
}

.message.sent {
  background-color: var(--green);
}

.message.received + .message.sent,
.message.sent + .message.received {
  margin-top: 20px;
}

.message-text {
  color: var(--white);
  font-size: 13.5px;
  margin-right: 45px;
}

.message-date {
  color: var(--light-grey);
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 11px;
}

/* Footer */

.chat__footer {
  background-color: var(--navy);
  padding: 10px 20px;
  display: flex;
  gap: 15px;
}

.chat__footer .icon-wrapper {
  width: 30px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: var(--light-grey);
}

.chat__footer input {
  flex-grow: 1;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
  background-color: var(--light-navy);
  color: var(--white);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 35%;
  }

  .chat {
    width: 65%;
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    width: 40%;
  }

  .chat {
    width: 60%;
  }
}
